[phases.setup]
nixPkgs = ["nodejs-20_x", "chromium"]

[phases.install]
cmds = [
  "npm config set fetch-retries 3",
  "npm config set fetch-retry-mintimeout 20000",
  "npm config set fetch-retry-maxtimeout 120000",
  "npm install --legacy-peer-deps --no-audit --no-optional --maxsockets 1"
]

[phases.build]
cmds = [
  "npm run build",
  "mkdir -p storage/invoices"
]

[start]
cmd = "node dist/src/main.js"

[variables]
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = "true"

