providers = ["node"]

[phases.setup]
nixPkgs = ["chromium"]

[phases.install]
cmds = [
  "npm config set fetch-retries 3",
  "npm config set fetch-retry-mintimeout 20000",
  "npm config set fetch-retry-maxtimeout 120000",
  "npm ci --no-audit --no-optional"
]

[phases.build]
cmds = [
  "npm run build",
  "mkdir -p storage/invoices"
]

[start]
cmd = "npx prisma migrate deploy && node dist/src/main.js"

[variables]
NODE_ENV = "production"
NIXPACKS_NODE_VERSION = "20"
PUPPETEER_SKIP_DOWNLOAD = "true"
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = "true"
